.case {
    position: relative;
    // TODO: Delete later
    // max-width: 378px;
    // height: 300px;
    color:$white;
  
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  
    &__overlay {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transition: opacity 0.3s;
      background: $gradient;
      margin: 0 auto;
  
      &:hover {
        opacity: 1;
      }
    }

    &__icon{
      margin: 122px auto 73px;
    }

    &__icon3{
      margin-top: 350px;
    }

    &__title{
      font-weight: 700;
      margin-bottom: 16px;
    }

  }

  .case3{
    grid-row: span 2;
  }