.header {
  background-image: $gradient, url(../images/header.png);
  background-position: top;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  color: $white;
  text-align: center;

  &__list {
    padding-top: 42px;
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-transform: uppercase;

    li {
      margin: 0px 28px;
      &:hover {
        color: $orange;
        fill: $orange;
        border-bottom: 1px solid $orange;
      }
    }
  }

  &__subtitle {
    margin-top: 102px;
    margin-bottom: 56px;
  }

  &__devider {
    background: $white;
  }

  &__button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    border: 4px solid $white;
    padding: 25px 122px;
    color: $white;
    font-family: $raleway-font-stack;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 116px;

    &:hover {
      color: $orange;
      background-color: $white;
    }

    &:active {
      border: 4px solid $orange;
    }
  }

  &__carousel {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: left;

    & a {
      margin-bottom: 30px;

      &::before {
        content: "";
        display: block;
        border: 1px solid $yellow;
        margin: 30px auto;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    &__subtitle {
      font-size: 48px;
    }
    &__title {
      font-size: 96px;
    }
  }
}

@media screen and (max-width: 320px) {
  .header {
    &__title {
      font-size: 48px;
    }
    &__subtitle {
      font-size: 36px;
    }
    &__nav {
      display: none;
    }
    &__button {
      font-size: 18px;
      width: 100%;
      padding: 17px 0;
    }
  }

  .carousel {
    width: 288px;

    &__text {
      display: none;
    }
  }
}
